* {
    margin: 0%;
    padding: 0%;
}
@media (max-width: 600px) {
    .conteudo {
        flex-direction: column-reverse;
    }
    .link {
        flex-direction: column;
        align-items: center;
    }
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(76, 76, 76);  
}
.link {
    display: flex;
    padding: 1%;
    justify-content: space-evenly;
}
.stilo__link {
    background-color: rgb(150, 185, 178);
    width: 220px;
    text-align: center;
    border-radius: 16px;
    font-size: 22px;
    padding: 20px 0;
    text-decoration: none;
    color: #372e2e;
}
.conteudo {
    margin: 0%;
    padding: %;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
}

.titulo {
    font-size: 30px;
    color:#372e2e;
    padding: 5%;
    
}
.texto {
    width: 240px;
    background-color: rgb(150, 185, 178);
    border-radius: 10px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.principal {
    font-size: 19px;
    color: #6d6767;
}
.foto1 {
    box-sizing: border-box;
    width: 600px;
    height: 500px;
    padding: 1%;
    border-radius: 30px;

}






